<header>
    <nav class="navBar">
        <div class="navLogoContainer">
          <img class="navLogo" src="../../assets/images/Logo.png" alt="Tic Tac Taco!">
        </div>
        <div class="titleContainer">
          <a href="./index.html" class="titleLink"><h1 class="title">Tic Tac Taco!</h1></a>
        </div>
        <div class="accountContainer">
          <a href="../Register/index.html"><button class="account">Register/Login</button></a> 
        </div>
      </nav>
</header>