<%- include("partials/head.ejs") %>
<% console.log('boof') %>
<%- include("partials/navbar.ejs") %>

<!-- Home -->
<main class="home">
    <main class="home">
        <a href="/play" class="playButton">Play!</a>
    </main>
  
</main>

<%- include("partials/footer.ejs") %>