<%- include("partials/head.ejs") %>

<%
if (typeof userMsg === 'undefined') {
  userMsg = '';
}
%>

<!-- Login -->
<main class="login">
    <h2>Login</h2>
    <form class="login" action="/user/login" method="post" onsubmit="return handleSubmit()">
      <label for="username">Username:</label><br>
      <input type="text" id="username" class="loginInput" name="username"><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" class="loginInput" name="password"><br>
      <input type="submit" class="loginSubmit">
    </form>
    <a href="/user/register" class="newAccount">New User? Create Account</a>
    <div class="userErrorMsg">
      <p><%- userMsg %></p>
    </div>
</main>

<script>
  const handleSubmit = () => {
    console.log('boom 1')
    const usernameInput = document.getElementById('username');
    const passwordInput = document.getElementById('password');
    const userErrorDiv = document.querySelector('.userErrorMsg');

    const usernameValue = usernameInput.value;

    if (!usernameValue) {
      userErrorDiv.innerHTML = '<p>Please input a username.</p>';
      passwordInput.value = '';
      return false;
    }

    return true;
  }
</script>

<%- include("partials/footer.ejs") %>