<%- include("partials/head.ejs") %>

<%- include("partials/navbar.ejs") %>

<%
if (typeof userMsg === 'undefined') {
  userMsg = '';
}
%>

<!-- Login -->
<main class="login">
    <h2>Login</h2>
    <form class="login" action="/user/login" method="post">
      <label for="username">Username:</label><br>
      <input type="text" id="username" class="loginInput" name="username"><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" class="loginInput" name="password"><br>
      <input type="submit" class="loginSubmit" value="Login">
    </form>
    <div class="userErrorMsg">
      <p><%- userMsg %></p>
    </div>
</main>

<%- include("partials/footer.ejs") %>