<%- include("partials/head.ejs") %>

<%- include("partials/navbar.ejs") %>

<!-- Login -->
<main class="login">
    <h2>Login</h2>
    <form class="login">
      <label for="username">Username:</label><br>
      <input type="text" id="username" class="loginInput" name="username"><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" class="loginInput" name="password"><br>
      <input type="submit" class="loginSubmit" value="Login">
    </form>
</main>

<%- include("partials/footer.ejs") %>