<%- include("partials/head.ejs") %>

<%- include("partials/navbar.ejs") %>

<!-- Play -->
<main class="play-main">
  <canvas id="play-canvas"></canvas>
</main>

<script type="module" src="/scripts/tictactoe/main.js"></script>

<%- include("partials/footer.ejs") %>