<%- include("partials/head.ejs") %>

<%- include("partials/navbar.ejs") %>

<!-- Play -->
<main class="play-main">
  <canvas id="play-canvas"></canvas>
  <div class="play-gameOver"></div>
  <div class="play-online-message"></div>
  <div class="play-lobby-buttons">
    <p class="play-lobby-title">Play Multiplayer</p>
    <button class="play-create-lobby lobby-button">Create Lobby</button>
    <button class="play-join-lobby lobby-button">Join Lobby</button>
    <p class="play-copied-text">Copy</p>
    <p class="play-create-lobby-text">Lobby Error</p>
    <form class="play-join-lobby-form">
      <label class="play-join-lobby-label" for="roomId">Lobby:&nbsp</label>
      <input class="play-join-lobby-input" type="text" id="roomId" placeholder="Lobby Code">
      <button class="play-join-lobby-submit" type="submit" value=""><svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30" fill="yellowgreen" style="transition: transform 0.3s" onmouseover="this.style.transform='scale(1.2)'" onmouseout="this.style.transform='scale(1)'"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg></button>
    </form>
    <div class="play-lobby-back-div">
      <button class="play-lobby-back-button">Back</button>
    </div>
    <div class="play-online-notify">
      <p></p>
    </div>
  </div>
  <div class="play-bot-buttons">
    <p>Computer:</p>
    <button class="play-bot-diff">Medium</button>
  </div>
  <div class="play-lobby-opp">
    <p></p>
  </div>
  <div class="play-basic">
    <button class="play-new-game">New Game</button>
    <button class="play-howtoplay">How To Play</button>
  </div>
  <div class="play-rematch-div">
    <button class="play-rematch">Rematch</button>
    <p class="play-rematch-wait"></p>
  </div>
</main>

<div id="username" username="<%= username %>" style="display: none;"></div>

<script type="module" src="/scripts/tictactoe/main.js"></script>
<script type="module" src="/scripts/tictactoe/play_controls/new_game.js"></script>
<script type="module" src="/scripts/tictactoe/play_controls/computer_diff.js"></script>
<script type="module" src="/scripts/tictactoe/online/updateMessage.js"></script>
<script src="https://cdn.jsdelivr.net/npm/short-unique-id@latest/dist/short-unique-id.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="module" src="/scripts/tictactoe/play_controls/lobby_controls.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/scripts/tictactoe/online/main.js"></script>

<%- include("partials/footer.ejs") %>