<%- include("partials/head.ejs") %>

<%- include("partials/navbar.ejs") %>

<!-- Profile -->
<main class="profile">
    <h2>PROFILE PAGE AUTH PROTECTED</h2>
</main>

<%- include("partials/footer.ejs") %>