.profile-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-header {
    color: yellowgreen;
    font-size: 2.4rem;
}

.profile-stats {
    display: flex;
    flex-direction: column;
    align-items: center;

    list-style: none;
    padding: 0;

    color: yellowgreen;
    font-size: 2rem;
}

.profile-stats li {
    margin-bottom: 1rem;
}