.navBar {
    display: flex;
    align-items: center;
    height: 9vh;
    width: 100vw;
    background-color: #071A4B;
}

.navLogoContainer {
    flex: 1;
    display: flex;
    align-items: flex-start;
}

.navLogo {
    width: 11rem;
    
    margin: 0 0 0 1rem;
}

.titleContainer {
    flex: 1;
    display: flex;
    justify-content: center;
}

.title {
    margin: 0;
    padding-top: .4rem;
    font-size: 4.2rem;
    font-weight: 700;
    color: yellowgreen;
}

.titleLink {
    text-decoration: none;
}

.accountContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.account {
    margin: 0 1em 0 0;
    border: .1em solid yellowgreen;
    border-radius: .5em;
    padding: .3rem 2rem .3rem 2rem;

    font-size: 1.3em;
    font-weight: 600;
    font-family: 'Comfortaa', cursive;
    color: yellowgreen;

    text-decoration: none;

    background-color: #4D5D86;
}

.account:hover {
    cursor: pointer;
    background-color: #333E58;
}